<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.su.gemhunt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.crystalgems.gemhunt.MainActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.crystalgems.gemhunt.view.InGameActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.crystalgems.gemhunt.view.CharacterSelectActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.crystalgems.gemhunt.view.PauseActivity"
            android:theme="@style/Theme.Transparent" />

    </application>

</manifest>